# ================= BASIC =================
__pycache__/
*.pyc
*.pyo

# ================= ENV FILE =================
.env

# ================= VIRTUAL ENV =================
venv/
env/
.venv/
ENV/
newvn/

# ================= BUILD FILES =================
build/
dist/
*.egg-info/

# ================= DATABASE =================
db.sqlite3

# ================= LOG FILES =================
*.log

# ================= IDE =================
.vscode/
.idea/

# ================= CACHE =================
.cache/
pytest_cache/

# ================= OS FILES =================
.DS_Store
Thumbs.db